@model TestMVCpro.BLL.Models.DepartmentVM

@{
    ViewData["Title"] = "Detete";
}
<div class="block-header">
    <h2>Delate</h2>
</div>
<form class="form-group" asp-controller="Department" asp-action="Detete">
    <center>
        <p>Are you Sure To Delete ?</p>
    </center>
    <label asp-for="ID">Depatment ID</label>

    <input type="text" class="form-control" asp-for="ID" disabled>
    <label asp-for="Name">Depatment Name</label>
    <input type="text" class="form-control" asp-for="Name" disabled>
    <br /> <br />
    <label asp-for="Code">Depatment Code</label>
    <input type="text" class="form-control" asp-for="Code" disabled>
    <br /> <br />
    <center>
        <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Back to Home</a>
        <input type="submit" value="Save" class="btn btn-primary">
        <input type="reset" value="Cancle" class="btn btn-danger">
    </center>
</form>
