@model IdentityUser
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<form class="form-group" asp-controller="User" asp-action="Delete">
    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="email" class="form-control" readonly>
    <label asp-for="UserName">User Name</label>
    <input asp-for="UserName" type="text" class="form-control"readonly>
    <label asp-for="Id">Id</label>
    <input asp-for="Id" type="text" class="form-control"  readonly>
    <input type="submit" class="btn btn-primary form-control" value="Delete">
    @*<input asp-for="ConcurrencyStamp" type="hidden">
        <input asp-for="PasswordHash" type="hidden">
        <input asp-for="NormalizedEmail" type="hidden">
        <input asp-for="NormalizedUserName" type="hidden">*@

</form>
